## Cleaning the data

## Drop Rows of NaN

In [2]:
import pandas as pd
import os
all_months_data=pd.DataFrame()
files=[file for file in os.listdir("A:\Data Analytics\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data")] #this came from copy path
for file in files:
    df=pd.read_csv("A:/Data Analytics/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/" +file)
    all_months_data=pd.concat([all_months_data,df])
all_months_data.to_csv("combined_data.csv", index=False)
all_data=pd.read_csv("A:\Data Analytics\Pandas-Data-Science-Tasks-master\SalesAnalysis\combined_data.csv")

In [3]:
nan_df=all_data[all_data.isna().any(axis=1)]

In [4]:
all_data=all_data.dropna(how='all')

In [5]:
all_data['Month']=all_data['Order Date'].str[0:2]
all_data['Month']=all_data['Month'].astype('int32')

ValueError: invalid literal for int() with base 10: 'Or'

## Find 'Or' and delete it

In [6]:
temp_df=all_data[all_data['Order Date'].str[0:2]=='Or']
temp_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [7]:
all_data=all_data[all_data['Order Date'].str[0:2]!='Or']
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04