In [1]:
import pandas as pd
import os
all_months_data=pd.DataFrame()
files=[file for file in os.listdir("A:\Data Analytics\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data")] #this came from copy path
for file in files:
    df=pd.read_csv("A:/Data Analytics/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/" +file)
    all_months_data=pd.concat([all_months_data,df])
all_months_data.to_csv("combined_data.csv", index=False)

In [2]:
all_data=pd.read_csv("A:\Data Analytics\Pandas-Data-Science-Tasks-master\SalesAnalysis\combined_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Augement data with additonal columns

#### Task : Add month Column

In [5]:
all_data['Month']=all_data['Order Date'].str[0:2]

In [6]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04

In [7]:
all_data['Month']=all_data['Month'].astype('int32')

ValueError: cannot convert float NaN to integer

### Q1.What was the best month for sales? How much was earned that month?